{
  "authority": "https://login.microsoftonline.com/",
  "client_id": "",
  "tenant_id": "",
  "user_id" : "",
  "scope": ["Files.ReadWrite"],
  "secret": "",
  "base_url": "https://graph.microsoft.com/v1.0/",
  "home_path": "",
  "db_host":"",
  "db_user":"",
  "db_password":"",
  "db":"",
  "correo_destinatarios": ["", ""],
  "correo_remitente": "",
  "key_mandrill": ""
}